@{
    ViewData["Title"] = "Products";
}

<div>
    <h3>Removing Product</h3>

    <form class="getting-form" asp-action="Delete" method="post">
        <label>Product Id:</label>
        <input type="text" name="id"/>
        <br />
        <div class="action-btn-container">
            <button class="action-btn" type="submit" onclick="alert('Delete request sent')">Delete</button>
            <a class="back-btn" href="/Home/Index">Back</a>
        </div>
    </form>  
</div>