@model FridgeModel

@{
    ViewData["Title"] = "Models";
}

<div>
    <h3>Getting Model</h3>

    <form class="getting-form" asp-action="Get" method="post">
        <label>Model Id:</label>
        <input type="text" name="id"/>
        <br />
        <div class="action-btn-container">
            <button class="action-btn" type="submit">Get</button>
            <a class="back-btn" href="/Home/Index">Back</a>
        </div>
    </form>  

    @if (@Model != null)
    {
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Year</td>
            </tr>
        </tbody>
    </table>
    }
</div>