@model FridgeModelForUpdateDto

@{
    ViewData["Title"] = "Models";
}

<div>
    <h3>Model Update</h3>

    <form class="creation-form" method="post" asp-action="Update">
        <div class="field-container">
            <label asp-for="Id"></label>
            <div>
                <input asp-for="Id"/>
                <span class="error-mes-span" asp-validation-for="Id"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Name"></label>
            <div>
                <input asp-for="Name"/>
                <span class="error-mes-span" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Year"></label>
            <div>
                <input asp-for="Year"/>
                <span class="error-mes-span" asp-validation-for="Year"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit" onclick="alert('Update request sent')">Update</button>
            <a class="back-btn" href="/Home/Index">Back</a>
        </div>
    </form>

    @if (ViewData["Message"] != null)
    {
        <h5>@ViewData["Message"]</h5>
    }
</div>