@model FridgeForCreationDto

@{
    ViewData["Title"] = "Fridges";
}

<div>
    <h3>Fridge Creation</h3>

    <form class="creation-form" method="post" asp-action="Create">
        <div class="field-container">
            <label asp-for="Name"></label>
            <div>
                <input asp-for="Name"/>
                <span class="error-mes-span" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="OwnerName">Owner Name</label>
            <div>
                <input asp-for="OwnerName"/>
                <span class="error-mes-span" asp-validation-for="OwnerName"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="ModelId">Model Id</label>
            <div>
                <input asp-for="ModelId"/>
                <span class="error-mes-span" asp-validation-for="ModelId"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit" onclick="alert('Creation request sent')">Create</button>
            <a class="back-btn" href="/Home/Index">Back</a>
        </div>
    </form>

    @if (ViewData["Message"] != null)
    {
        <h5>@ViewData["Message"]</h5>
    }
</div>