@{
    ViewData["Title"] = "Start Page";
}

<div class="start-page-block">
    <h1>Hello, user! You must sign in to use the application</h1>
    <a class="auth-btn" href="/Accounts/Login">Login</a>
    <a class="auth-btn" href="/Accounts/Register">Register</a>
</div>